<h1>Movie</h1>
<h1>{{movies.title}}</h1>
 <img src={{movies.poster}}>
    <p>Year:{{movies.year}}</p>
    <p>Actors:{{movies.actors}}</p>
    <p>Plot:{{movies.plot}}</p>
    <p>Rating:{{movies.rating}}</p>
    <p>Genre{{movies.genres}}</p>
     
    