<h1>Movie</h1>
<h1>{{movies.title}}</h1>
 <img src={{movies.poster}}>
    <p>Year:{{movies.year}}</p>
    <p>Actors:{{movies.actors}}</p>
    <p>Plot:{{movies.plot}}</p>
    <p>Rating:{{movies.rating}}</p>
    <p>Genre{{movies.genres}}</p>

<form  action="/movies/add" method="POST">
   <input type="hidden" value="{{movies.title}}" name="title">
   <input type="hidden" value="{{movies.poster}}" name="poster">
   <button type="submit">Add to WatchedList</button>
</form> 

<form  action="/movies/add-list" method="POST">
   <input type="hidden" value="{{movies.title}}" name="title">
   <input type="hidden" value="{{movies.poster}}" name="poster">
   <button type="submit">Add to WatchList</button>
</form> 

{{#each reviews}}
      <p>{{review}}</p>
      <p>{{user.username}}</p>
{{/each}}


<form action="/reviews/{{movies.imdbid}}/add" method="POST">
<textarea name="review"></textarea>
<button type="submit">Add review</button>
</form>