<h1 class="movie-title">{{movies.title}}</h1>
<div class="text-center">
  <img src={{movies.poster}} class="rounded" alt='{{movie.title}}'>
</div>

 <div class="text-center paragraph">
    <p>Genre: {{movies.genres}}</p>
    <p>Year: {{movies.year}}</p>
    <p>Runtime: {{movies.runtime}}</p>
    <p>Actors: {{movies.actors}}</p>
    <p class="plot">Plot: {{movies.plot}}</p>
    <p>Rating: {{movies.rating}}</p>
    <p>Boxoffice: {{movies.boxoffice}}</p>
    <p>For more detail information check:<a href='{{movies.imdburl}}'> <img src="/images/IMDB-PNG.png" class="imdb-logo"></a></p>
    <p>If you want to leave your review or add this movie to your WatchList <a href="/login">login</a></p>
</div>

{{#if user}}
<div class="row lists-btn">
   <div class="col whatched">
      <form class="whatched"  action="/movies/add" method="POST">
         <input type="hidden" value="{{movies.title}}" name="title">
         <input type="hidden" value="{{movies.poster}}" name="poster">
         <button type="submit" class="btn btn-secondary">Add to WatchedList</button>
      </form> 
   </div>
   <div class="col whatch">
      <form class="whatch" action="/movies/add-list" method="POST">
         <input type="hidden" value="{{movies.title}}" name="title">
         <input type="hidden" value="{{movies.poster}}" name="poster">
         <button type="submit" class="btn btn-secondary">Add to WatchList</button>
      </form> 
   </div>
</div>
{{/if}}

{{#each reviews}}
<div class="row review-session">
   <div class="col review-p"> 
      <p>{{review}}</p>
   </div>
    <div class="col"> 
      <p>{{user.username}}</p>
   </div>
</div>     
{{/each}}

{{#if user}}
   <div class="input-group mb-3"></div>
      <form action="/reviews/{{movies.imdbid}}/add" method="POST">
         <textarea  type="text" class="form-control" placeholder="Your Comment"  aria-label="Your Comment" name="review"></textarea>
         <button type="submit" class="btn btn-outline-secondary" type="button" id="button-addon2">Add review</button>
      </form>
   </div>
{{/if}}

