<h1>My Lists</h1>

{{#each lists}}
  {{name}}
  {{#each movies}}
  <h3><a href="/movies/{{imdbid}}">{{title}}</a></h3>
  <img src="{{poster}}"
   <form action="/movies/{{imdbid}}/delete" method="POST">
  <button type="submit"> Delete</button>
    </form>
    {{/each}}
  {{/each}}

  <a href="/">Back to the main page</a>