<h1 class="search-results">Search Results</h1>
<hr>
<div class="row">
{{#each results}}
  <div class="card" style="width: 18rem;">
    <img  src={{poster}} class="posters card-img-top" alt={{title}}>
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      {{#if ../user}}
      <a href="/movies/{{imdbid}}" class="btn btn-primary">More info</a>
      {{else}}
      <a href="/signup">Register to see more info</a>
      {{/if}}
    </div>
  </div>
{{/each}}
</div>